.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1 {
    color: black;
    font-weight: 600;
    font-size: 30px;
}
.explore-menu-text {
    max-width: 60%;
    color: dimgrey;
    font-weight: 500;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img {
    width: 10vw;
    height: 135px;
    min-width: 80px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10%;
    transition: 0.9s;
     padding: 0px 0px;
     transform: scale(0.9); 
}
.explore-menu-list-item img:hover{
    transform: scale(1);
    box-shadow: 2px 2px 10px grey;

}
.explore-menu-list-item p {
    margin-top: 10px;
    color: dimgrey;
    font-weight: 500;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    
}
.explore-menu-list-item .active{
    border: 2px solid blue;
    padding: 2px;
    color: black;
}
@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}